= simple_form_for @claim_form, html: { class: 'form-horizontal', 'pt-remote' => true  } do |f|
  = pt_box header: 'Claim Info', id: 'claim-info' do
    = f.input :request_type, as: :select,
      collection: Claim.request_type.values,
      label_method: ->(r) { r.humanize },
      selected: :audit

    = f.input :suffix

    = f.input :is_total_loss, as: :select, include_blank: 'Please Choose One'

    = f.input :number

    = f.association :company, include_blank: 'Please Choose One',
      input_html: {'pt-change-load' => claim_form_path(:primary_client_contact),
                   'pt-load-container' => '#claim-primary-client-contact'}

    #claim-primary-client-contact

    = f.input :review_type, as: :select,
      collection: Claim.review_type.values,
      label_method: ->(r) { r.humanize },
      selected: :audit,
      include_blank: 'Please Choose One'

    = simple_fields_for :owner, @claim_form.owner do |owner|
      = owner.input :first_name
      = owner.input :last_name

  = pt_box header: 'Adverse Carrier', id: 'claim-adverse-carrier' do
    = f.input :carrier_number

