= widget_div do
  = simple_form_for form, method: :post, url: url_for_event(:submit_claim, claim_id: form.id) + "&action=responds_to_event", html: { class: 'form-horizontal', remote: true } do |f|
    = panel header: 'Claim Info', id: 'claim-info-panel' do
      = render view: :info, locals: { f: f }
    = panel header: 'Adverse Carrier', id: 'adverse-carrier-panel' do
      = render view: :adverse_carrier, locals: { f: f }
    = panel header: 'Estimate', id: 'estimate-panel' do
      = render view: :estimate, locals: { f: f }
    = panel header: 'Vehicle', id: 'vehicle-panel' do
      = render view: :vehicle, locals: { f: f }
    .form-actions.fluid
      = f.button :submit, class: 'btn btn-primary pull-right'
