= widget_div do
  = simple_form_for form, url: url_for_event(:submit_claim), html: { class: 'form-horizontal', remote: true } do |f|
    = pt_box header: 'Claim Info', id: 'claim-info-box' do
      = render view: :info, locals: { f: f }
    = pt_box header: 'Adverse Carrier', id: 'adverse-carrier-box' do
      = render view: :adverse_carrier, locals: { f: f }
    = pt_box header: 'Estimate', id: 'estimate-box' do
      = render view: :estimate, locals: { f: f }
    = pt_box header: 'Vehicle', id: 'vehicle-box' do
      = render view: :vehicle, locals: { f: f }
    .form-actions.fluid
      = f.button :submit, class: 'btn btn-primary pull-right'
