= widget_div id: 'claim-selected-carrier-office' do
  - if form.carrier_office_id.present?
    = simple_fields_for :carrier_office, CarrierOffice.find(form.carrier_office_id) do |c|
      = c.simple_fields_for :address do |a|
        = a.input :line1, as: :display
        = a.input :line2, as: :display
        = a.input :city, as: :display
        = a.input :state, as: :display
        = a.input :zip, as: :display
    = render view: :carrier_adjuster, locals: { f: f }
