!!!
%html
  %head
    = render partial: 'layouts/head'
    %body{ class: "#{controller.controller_name} #{@body_class}".strip }
      = render partial: 'layouts/header'
      .container-fluid
        .row
          #sidebar.col-sm-3.col-md-2.sidebar
            = render partial: 'layouts/sidebar'
          #content.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
            .main
              = yield
